*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    -webkit-animation: gradient 20s ease infinite;
    animation: gradient 20s ease infinite;
    background: linear-gradient(-45deg,#003547,#c2bb00,#e1523d,#ed8b16,#005e54);
    background-size: 400% 400%;
    height: 100vh;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}