{%- include('incHeader') %}

        <div class="row p-5">
            <h1 class="text-danger">Opps! ERROR!</h1>
            <pre class="p-4">{%= data.message %}</pre>
            <hr>
            <code class="p-4">errorData: {%= JSON.stringify(data, null, 4) %}</code>
            <hr>
            <p><button class="btn btn-secondary" onclick="history.back()">Back</button></p>
        </div>

{%- include('incFooter') %}