form{
    width: 30%;
    height: fit-content;
    background-color: darkcyan;
    border-radius: 50px;
    padding: 30px 30px 30px 30px;
    font-size: large;
    margin: auto;
}

.in{
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    height: 20px;
}
h1{
    color: white;
    text-align: center;
    font-size:xx-large
}
.fieldsets-1{
    display: inline-block;
    width: 200px;
}
.fieldsets-2{
    display: inline-block;
    width: 200px;
}
.file{
    display: inline-block;
    width: 405px;
    height: 30px;
}

input{
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}
fieldset{
    border: 1px dashed gold;
}
#image{
    
}