*{
    margin: 0;
}

body{
/* margin: 0; */
}
h1{
    background-color: rgb(150, 230, 96);
    /* margin-bottom: 0; */
    margin-top: 20px;
}
#par1{
    background-color: chocolate;
    box-sizing: border-box;
    margin-top: 20px;
    /* margin-bottom: 0; */
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 5px solid blue;
    text-align: justify;
}
#par2{
    background-color: magenta;
    /* margin-top: 0; */
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 20px 50px;
    border: 5px solid blue;
}
.container{
    border: 2px solid red;
    margin: 20px;
    margin: 10px 40px 60px 60px;  /* Burasi top-right-bottom-left seklinde diziliyor */
    background-color: bisque;
}