<%- include('_header') %>
        <div class="row">
            <h1>TODO CREATE</h1>
            <p>
                <a class="btn btn-sm btn-secondary" href="/view">List Todos</a>
            </p>
            <form action="" method="POST">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Priority</td>
                            <td>
                                <select class="form-select" name="priority">
                                    <option value="1">High</option>
                                    <option value="0">Norm</option>
                                    <option value="-1">Low</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td><input type="text" name="title" required class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <textarea name="description" class="form-control"></textarea>
                            </td>
                        </tr>
                        <!--
                    <tr>
                        <td>Is Done?</td>
                        <td>
                            <select class="form-select" name="isDone">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                    </tr>
                    -->
                    </tbody>
                </table>
                <p>
                    <button class="btn btn-primary" type="submit">CREATE</button>
                </p>
            </form>
        </div>
<%- include('_footer') %>