.yazi{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;
}
.yazi1{
    background-color: antiquewhite;
    transform: rotateX(180deg);
}
.yazi2{
    background-color: cyan;
    transform: rotateY(180deg);
}
.yazi3{
    background-color:coral;
    transform: rotate(20deg);
    transform-origin: left;    /*Sol kismini sabit tutup geri kalanini cevir demek */
}
.yazi4{
    background-color: greenyellow;
    transform: scaleX(1.5) skew(20deg);  /* X ekseninde sündürüyor*/
}
.yazi5{
    background-color: plum;
    
}
.yazi5:active{
    background-color: plum;
    transform: scaleY(1.5);  /* Y ekseninde sündürüyor*/
}
.yazi6{
    background-color: yellow;
}
.yazi6:hover{
    background-color: rgb(239, 168, 200);
    transform: scale(1.5) rotate(30deg);
}

img{
    width: 200px;
    transform: rotateX(45deg) rotateY(45deg);
}

.box{
    background-color: bisque;
    width: 200px;
    height: 50px;
}
.x{
    transform: translateX(0px);
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.x:active{
    transform: translateX(100px);
    background-color: burlywood;
    width: 300px;
}
.y{
    transform: translateY(200px);
}
.xy{
    
}
.xy:hover{
    transform: translate(50px, 50px);
    background-color: magenta;
}
.btn-div{
    text-align: center;

}

.btn{
    background-color: aquamarine;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: background-color 2s;
}
.btn:hover{
    background-color: antiquewhite;
    color: blue;
}
