@import url('https://fonts.googleapis.com/css2?family=Benne&family=Ingrid+Darling&family=Mr+Bedfort&display=swap');

:root{
    --red: #ff0000;
    --red-light:#de8484;
    --red-dark:#6d1919;
    --renk1: #025159;
    --renk2: #3E848C;
    --renk3: #7AB8BF;
    --renk4: #C2EDF2;
    --renk5: #A67458;

    --ff-benne: 'Benne', serif;
    --ff-ingrid: 'Ingrid Darling', cursive;
    --ff-bedford: 'Mr Bedfort', cursive;
}
h1{
    background-color: var(--red-light);
    font-family: var(--ff-benne);
}
p{
    background-color: var(--red-dark);
    color: var(--red-light);
    font-family: var(--ff-bedford);
    line-height: 4rem;
    font-size: 2rem;
}

h2{
    background-color: var(--renk1);
    font-family: var(--ff-ingrid);
}
h3{
    background-color: var(--renk2);
}
h4{
    background-color: var(--renk3);
}
h5{
    background-color: var(--renk4);
}
p{
    background-color: var(--renk5);
}

