.konteynir{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    .kart{
        width: 30%;
        box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.659);
        margin: 2rem;
        img{
            width: 50%;
            border-radius: 80px;
            margin-top: 2rem;
        }
    }
}