*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(19deg, #2142fd 0%, #b721ff 100%);
    height:100vh;
}
.bg-image{
    background-image: url(../../../images/Img_1.png);
    width: 50%;
    height: 700px;
    background-size: cover;
    margin: 2px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
}
.ground{
    background-image: url(../../../images/Img_02.png);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 15000%;
    animation: left-move 8s linear infinite;
}
.car{
    position: absolute;
    bottom: 52px;
    left: 45%;
    animation: jump 0.5s linear alternate infinite;
}

@keyframes left-move {
    100%{
        transform: translate(-2000px);
    }
}
@keyframes jump {
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(2px);
    }
}