:root{
    --red: #dc3545;
}

/*! -------------- 1- NAVBAR -------------- */
.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

.navbar-nav{
    font-size: 1.3rem;
    font-weight: 600;
}
.navbar .nav-link:hover{
    color: var(--red);
}

/*! -------------- 2- CAROUSEL -------------- */

.carousel-item{
    max-height: 100vh;
}
.carousel-caption .btn{
    width: 7rem;
}
.carousel-caption h5{
    color: var(--red);
    font-size: 2.4rem;
    text-shadow: 3px 3px 3px black;
}
.carousel-caption p{
    text-shadow: 3px 3px 3px black;
}
.carousel-caption{
    bottom: 11.7rem !important;
}
.carousel-indicators{
    gap: 0.7rem;
    margin-bottom: 4rem;
}
.carousel-indicators button{
    background-color: var(--red) !important;
    padding: 0.1rem !important;
    width: 3rem !important;
}

/*! -------------- 3- ABOUT SECTION -------------- */

/*! -------------- 4- INSTRUCTORS -------------- */

section#instructors .card{
    transition: transform .3s;
}

section#instructors .card:hover{
    transform: scale(1.03);
}
section#instructors i{
    color: #dc3545 !important;
    transition: opacity 0.6s;
}
section#instructors i:hover{
    opacity: 0.5;
}
/*! -------------- 4- STUDENTS SECTION -------------- */

/*! -------------- 5- COURSES SECTION -------------- */

section#courses .nav-link.active{
    background-color: var(--red);
}
section#courses .nav-link{
    color: #ffffff;
}

section#courses .nav-pills{
    font-size: 1.2rem;
}
/*! -------------- 6- CONTACT SECTION -------------- */

/*? -------------- 7- FOOTER -------------- */

footer i{
    color: #ffffff;
    font-size: 2rem;
    margin-right: 0.8rem;
    transition: color 0.3s;
}
footer i:hover{
    color: var(--red);
}

.btn-up{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--red);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.5s;
}
.btn-up:hover{
    color: black;
}
.btn-up i:hover{
    transform: scale(1.2);
    font-size: 1.4rem;
}