*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(238, 235, 235);
}
#container{
    margin: 1% 2%;
    /* border: 2px solid blue; */

}
#first-box{
    position: relative;
    width: 33%;
    height: 1100px;
    /* position: relative; */
    /* border: 1px solid red; */
    box-shadow: 5px 5px 10px lightgrey, -5px -5px 10px lightgrey;
    color: rgb(98, 97, 97);
    background-color:white;
    float: left;

}
#image-box{
    width: 100%;
    position: relative;
}
#profile{
    width: 100%;
    position: relative;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#john-doe{
    position: absolute;
    /* border: 1px solid red; */
    margin-top: -12%;
    font-size: 1.9rem;
    color: black;
    font-weight: 400;
    margin-left: 15px;
}
.info{
    /* border: 1px solid blue; */
    /* margin-left: 15px; */
    padding: 10px;
    display: flex;
    vertical-align: middle;
    font-size: 0.85rem;
}
.info1, .calendar{
    /* border: 1px solid blue; */
    /* margin-left: 15px; */
    padding: 10px;
    display: flex;
    vertical-align: middle;
    font-size: 0.9rem;
}
#info-box{
    border-bottom: 1px solid lightgrey;
    width: 90%;
    margin: auto;

}
#staircase, #house, #envelope, #calendar{
    background-color: rgb(5, 150, 133);
    width: 20px;
    height: 20px;
    
}
#phone{
    width: 20px;
    margin-bottom: 10px;
}
#asterics{
    width: 25px;
    background-color: rgb(5, 150, 133);
}
.skills, .languages{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
   
}
h3{
    margin-bottom: 10px;
    color:  rgb(5, 150, 133);
    display: flex;
}
.percent-outer{
    background-color: lightgray;
    border-radius: 15px;
}
.percent, .lang{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  rgb(5, 150, 133);
    color: white;
    border-radius: 15px;
    font-size: small;
    padding: 3px;
    text-align: center;
    height: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#asteriks-skills, #languages-head{
    vertical-align: middle;
    /* padding-bottom: 20px; */
    margin-bottom: 15px;
}
#languages-favicon{
    width: 25px;
    height: 25px;
    background-color:  rgb(5, 150, 133);
}
#second-box, #third-box{
    position: relative;
    width: 66%;
    height: 620px;
    /* position: relative; */
    /* border: 1px solid red; */
    box-shadow: 5px 5px 10px lightgrey, -5px -5px 10px lightgrey;
    color: rgb(98, 97, 97);
    background-color:white;
    
    float:right;
    
}
#third-box{
    margin-top: 10px;
    height: 580px;
    margin-bottom: 15px;
}
.box{
    overflow: auto;

}
.lang{
    margin-bottom: 15px;
    padding: 7px;
}



#bag-favicon{
    background-color:  rgb(5, 150, 133);
    margin-left: 15px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
#work-exp{
    color: rgb(131, 129, 129);
    margin-bottom: 10px;
    margin-top: 10px;

}
h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}
.work-exp-info{
    margin-left: 25px;
}
.date{
    color:  rgb(5, 150, 133);
    font-size: medium;
    margin-left: 10px;
    
}
.calendar{
    margin-top: 15px;
}
#calendar{
    margin-left: 0;
}

#front-end, #web-developer{
    width: 90%;
    border-bottom: 1px solid lightgray;
}
.footer{
    background-color: rgb(5, 150, 133);
    width: 100%;
    height: 130px;
    display: flex;
    
}

#footer-note{
    padding-top: 15px;
    color: white;
    height: 20px;
    margin-left: 45%;
}
.logos-social-media{
    margin-top: 55px;
    height: 20px;  
    margin-left: -10%; 
    color: white;
}

