@import "./scss/reset";
@import "./scss/button";
@import "./scss/variable";    //Variable sayfasini kullanan tüm sayfalar import etmeli. digerlerinde böyle bir mecburiyet yok


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: orange;
}
h2{
    color: $yesil;
}