@import "../../scss/variable";       //! sadece variable tarzı scss ler ($ile kendi stilimi topladığım yer), nereden çağırılacklarsa oraya import edilmeli

header{
    padding: 3rem;
    text-align: center;
    background-color: $lightGreen;
    
    h1{
        color: navy;
    }
}