
.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6,100px);
}
.content{
    border: 1px solid;
}
.content1{
    background-color: gainsboro;
    grid-area: 2/1/6/2;
}
.content2{
    background-color: tomato;
    grid-area: 3/1/5/2;
    background-image: url("https://picsum.photos/id/684/600/400");
    background-size: cover;
    background-position: center;
}
.content3{
    background-image: url("https://picsum.photos/id/642/600/400");
    background-size: cover;
    background-position: center;
    grid-area: 1/2/3/4;
}
.content4{
    background-color: rgba(255, 166, 0, 0.538);
    grid-area: 2/3/3/4;
    position: relative;
    left: 5rem;
}
.content5{
    background-color: antiquewhite;
    grid-area: 1/4/3/6;
    background-image: url("https://picsum.photos/id/684/599/400");
    background-size: cover;
    background-position: center;
}
.content6{
    background-color: rgba(255, 228, 196, 0.647);
    grid-area: 2/5/3/6;
}
.content7{
    background-color: aqua;
    grid-area: 1/6/3/8;
    background-image: url("https://picsum.photos/id/635/600/400");
    background-size: cover;
    background-position: center;
}
.content8{
    background-color: rgba(0, 0, 255, 0.551);
    grid-area: 2/7/3/8;
}
.content10{
    background-image: url("https://picsum.photos/id/327/600/400");
    background-size: cover;
    background-position: center;
    grid-column: 2 / span 5;
    grid-row: 3 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 2rem;
}
