body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
#top{
    letter-spacing:4px;
    padding: 1rem;
}
.hamburger{
    position: relative;
    max-width:1600px;
    min-width:500px
}
#pic1{
    position: relative;
}
.content{
    max-width: 1130px;
    margin: auto;
    padding-top: 5rem;
}
[class$='button']{
    text-decoration: none;
    padding: 0.5rem;
}

[class$='button']:hover{
    background-color: lightgray;
}
.top-right{
    float: right!important
}
#le-catering{
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
    color: rgb(69, 67, 67);
    font-size: xx-large;
    font-family: "Playfair Display";
    letter-spacing: 5px;

}
#about{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-catering-text{
    text-align: left;
    max-width: 500px;
    margin-top: 0%;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center
}
#our-menu-text{
    text-align: left;
    max-width: 550px;
    margin-top: 0%;
    margin-right: 50px;
}
#pic2{
    margin-right: 50px;
}
.light-grey{
    background-color: lightgrey;
}
h3{
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-style: normal;
}
.info{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    writing-mode: horizontal-tb !important;
    /* text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field; */
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    
}

