.main{
    height: 100vh;
    background-image: url("./img/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20%;
    color: purple;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background-color: #dc3545;
    margin: auto;
}
.circle i{
    position: relative;
    top: 35px;
}
.card{
    border: none;
}
.card-title{
    font-size: 1.3rem;
}
.buttons-img{
    object-fit: cover;
    vertical-align: middle;
}
.team img{
    width: 250px;
    border: 10px solid #cccccc;
}
.social{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #333;
    line-height: 40px;
    display: inline-block;
}
.logos img{
    width: 150px;
}
.contact{
    background-image: url(./img/map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}