body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100vh;   /* Bunu yapmazsan body ekranin yüzde yüzünü kapsamadigi icin tekrarlayan yapida gradient olusturur */
    background-attachment: fixed;
}

.container{
    border: 3px solid red;
    width: 40rem;
    height: 40rem;
    overflow: auto;
    background-image: url(./resim-2.jpg);
    background-position: center center;
    background-size: cover;
}
#parag{
    text-align: justify;
    color: red;
}

.container::-webkit-scrollbar{
    display: none;
}
img{
    width: 20%;
}
#img1{
    opacity: 0.7;
}
#img1:hover{
    opacity: 1;
    transition: all ease-in-out;
}
#img2{
    opacity: 0.7;
}
#img2:hover{
    opacity: 1;
    transition: all ease-in-out;
}
#img3{
    opacity: 0.7;
}
#img3:hover{
    opacity: 1;
    transition: all ease-in-out;
}
#img4{
    opacity: 0.7;
}
#img4:hover{
    opacity: 1;
    transition: all ease-in-out;
}