.abs{
    background-color: rgb(233, 164, 233);
    width: 5cm;
    height: 15px;
    
}
h5{
    width: 5in;
    background-color: aqua;
}

.div2{
    background-color: antiquewhite;
    width: 50%;
    height: 30vh;
}

.div3{
    background-color: aquamarine;
    width:50%;
     height: 50%;   /*Üstteki div2'nin yüksekliginin her zaman yarisi yap demek */
}
.div4{
    background-color: coral;
     width: 50%;   /*Tarayicida görünen kismin yüzde ellisi ---- view width demek */
}
.div5{
    font-size: 30px;
}
.div6{
     font-size: 2em;   /*Parentin iki katini koy demek. Yani 60px */
}
.div7{
    font-size: 3em;    /*Parentin üc katini koy demek. Yani 180px */
}
.div8{
    font-size: 25px;
}
.div9{
    font-size: 2rem;
}
.div10{
     font-size: 2rem;    /* REM üsttekinden bagimsiz hareket ediyor ve sadece root elemente göre degisiyor. yano root elementteki rakamin */
}