a{
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    text-decoration: none;

}
a:link{
    background-color: yellow;
}
a:active{
    color: antiquewhite;
    background-color: green;
}
a:hover{
    background-color: chocolate;
}
a:visited{
    background-color: pink;
}
